/* CSS by Jayda */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    color:rgb(170, 202, 75);
    text-decoration: underline;
    font-weight: bold;
}

h1:hover {
    color: rgb(130, 155, 54);
}
